<a href="https://colab.research.google.com/github/EAsencios/DEEP-LEARING/blob/master/fea_eng_interation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
import numpy as np

In [16]:
poke_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/pokemon.csv', encoding='utf-8')
poke_df

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 13 columns]

In [17]:
atk_def = poke_df[['Attack', 'Defense']]
atk_def.head()

   Attack  Defense
0      49       49
1      62       63
2      82       83
3     100      123
4      52       43

In [18]:
from sklearn.preprocessing import PolynomialFeatures
pf = PolynomialFeatures(degree=2, interaction_only=False, include_bias=False)
res = pf.fit_transform(atk_def)
res

array([[   49.,    49.,  2401.,  2401.,  2401.],
       [   62.,    63.,  3844.,  3906.,  3969.],
       [   82.,    83.,  6724.,  6806.,  6889.],
       ...,
       [  110.,    60., 12100.,  6600.,  3600.],
       [  160.,    60., 25600.,  9600.,  3600.],
       [  110.,   120., 12100., 13200., 14400.]])

In [19]:
pd.DataFrame(pf.powers_, columns=['Attack_degree', 'Defense_degree'])

   Attack_degree  Defense_degree
0              1               0
1              0               1
2              2               0
3              1               1
4              0               2

In [20]:
intr_features = pd.DataFrame(res, columns=['Attack', 'Defense', 'Attack2', 'Attack x Defense', 'Defense2'])
intr_features

     Attack  Defense  Attack2  Attack x Defense  Defense2
0      49.0     49.0   2401.0            2401.0    2401.0
1      62.0     63.0   3844.0            3906.0    3969.0
2      82.0     83.0   6724.0            6806.0    6889.0
3     100.0    123.0  10000.0           12300.0   15129.0
4      52.0     43.0   2704.0            2236.0    1849.0
..      ...      ...      ...               ...       ...
795   100.0    150.0  10000.0           15000.0   22500.0
796   160.0    110.0  25600.0           17600.0   12100.0
797   110.0     60.0  12100.0            6600.0    3600.0
798   160.0     60.0  25600.0            9600.0    3600.0
799   110.0    120.0  12100.0           13200.0   14400.0

[800 rows x 5 columns]

In [21]:
new_df = pd.DataFrame([[95, 75], [121, 120], [77, 60]], columns=['Attack', 'Defense'])
new_df

   Attack  Defense
0      95       75
1     121      120
2      77       60

In [22]:
new_res = pf.transform(new_df)
new_intr_feature = pd.DataFrame(new_res, columns=['Attack', 'Defense', 'Attack2', 'Attack x Defense', 'Defense2'])
new_intr_feature

   Attack  Defense  Attack2  Attack x Defense  Defense2
0    95.0     75.0   9025.0            7125.0    5625.0
1   121.0    120.0  14641.0           14520.0   14400.0
2    77.0     60.0   5929.0            4620.0    3600.0

In [23]:
poke_df = poke_df.sample(random_state=1, frac=1).reset_index(drop=True)
np.unique(poke_df['Generation'])

array([1, 2, 3, 4, 5, 6])

In [24]:
poke_df[['Name', 'Generation', 'Legendary']].iloc[4:10]

                  Name  Generation  Legendary
4            Octillery           2      False
5           Helioptile           6      False
6               Dialga           4       True
7  DeoxysDefense Forme           3       True
8             Rapidash           1      False
9               Swanna           5      False

In [25]:
gen_ord_map = {1:'Gen 1', 2:'Gen 2', 3:'Gen 3', 4:'Gen 4', 5:'Gen 5', 6:'Gen 6'}
poke_df['GenerationLabel'] = poke_df['Generation'].map(gen_ord_map)
poke_df[['Name', 'Generation', 'GenerationLabel']]

                          Name  Generation GenerationLabel
0    CharizardMega Charizard Y           1           Gen 1
1                    Abomasnow           4           Gen 4
2                      Sentret           2           Gen 2
3                       Litleo           6           Gen 6
4                    Octillery           2           Gen 2
..                         ...         ...             ...
795         MeloettaAria Forme           5           Gen 5
796                  Tyrantrum           6           Gen 6
797                     Machop           1           Gen 1
798                   Ursaring           2           Gen 2
799                   Nidoranâ™‚           1           Gen 1

[800 rows x 3 columns]

In [26]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

# transform and map pokemon generations
gen_le = LabelEncoder()
gen_labels = gen_le.fit_transform(poke_df['GenerationLabel'])
poke_df['Gen_Label'] = gen_labels

# transform and map pokemon legendary status
leg_le = LabelEncoder()
leg_labels = leg_le.fit_transform(poke_df['Legendary'])
poke_df['Lgnd_Label'] = leg_labels

poke_df_sub = poke_df[['Name', 'GenerationLabel', 'Gen_Label', 'Legendary', 'Lgnd_Label']]
poke_df_sub.iloc[4:10]

                  Name GenerationLabel  Gen_Label  Legendary  Lgnd_Label
4            Octillery           Gen 2          1      False           0
5           Helioptile           Gen 6          5      False           0
6               Dialga           Gen 4          3       True           1
7  DeoxysDefense Forme           Gen 3          2       True           1
8             Rapidash           Gen 1          0      False           0
9               Swanna           Gen 5          4      False           0

In [27]:
# encode generation labels using one-hot encoding scheme
gen_ohe = OneHotEncoder()
gen_feature_arr = gen_ohe.fit_transform(poke_df[['Gen_Label']]).toarray()
gen_feature_labels = list(gen_le.classes_)
gen_features = pd.DataFrame(gen_feature_arr, columns=gen_feature_labels)

# encode legendary status labels using one-hot encoding scheme
leg_ohe = OneHotEncoder()
leg_feature_arr = leg_ohe.fit_transform(poke_df[['Lgnd_Label']]).toarray()
leg_feature_labels = ['Legendary_'+str(cls_label) for cls_label in leg_le.classes_]
leg_features = pd.DataFrame(leg_feature_arr, columns=leg_feature_labels)
leg_features

     Legendary_False  Legendary_True
0                1.0             0.0
1                1.0             0.0
2                1.0             0.0
3                1.0             0.0
4                1.0             0.0
..               ...             ...
795              1.0             0.0
796              1.0             0.0
797              1.0             0.0
798              1.0             0.0
799              1.0             0.0

[800 rows x 2 columns]

In [29]:
poke_df_ohe = pd.concat([poke_df_sub, gen_features, leg_features], axis=1)
columns =sum([['Name', 'GenerationLabel', 'Gen_Label'], gen_feature_labels, ['Legendary', 'Lgnd_Label'], leg_feature_labels], [])
poke_df_ohe[columns].iloc[4:10]

                  Name GenerationLabel  ...  Legendary_False  Legendary_True
4            Octillery           Gen 2  ...              1.0             0.0
5           Helioptile           Gen 6  ...              1.0             0.0
6               Dialga           Gen 4  ...              0.0             1.0
7  DeoxysDefense Forme           Gen 3  ...              0.0             1.0
8             Rapidash           Gen 1  ...              1.0             0.0
9               Swanna           Gen 5  ...              1.0             0.0

[6 rows x 13 columns]

In [30]:
new_poke_df = pd.DataFrame([['PikaZoom', 'Gen 3', True],
                            ['CharMyToast', 'Gen 4', False]],
                           columns=['Name', 'Generation', 'Legendary'])
new_poke_df

          Name Generation  Legendary
0     PikaZoom      Gen 3       True
1  CharMyToast      Gen 4      False

In [31]:
new_gen_labels = gen_le.transform(new_poke_df['Generation'])
new_poke_df['Gen_Label'] = new_gen_labels

new_leg_labels = leg_le.transform(new_poke_df['Legendary'])
new_poke_df['Lgnd_Label'] = new_leg_labels

new_poke_df[['Name', 'Generation', 'Gen_Label', 'Legendary', 'Lgnd_Label']]

          Name Generation  Gen_Label  Legendary  Lgnd_Label
0     PikaZoom      Gen 3          2       True           1
1  CharMyToast      Gen 4          3      False           0

In [34]:
new_gen_feature_arr = gen_ohe.transform(new_poke_df[['Gen_Label']]).toarray()
new_gen_features = pd.DataFrame(new_gen_feature_arr, columns=gen_feature_labels)

new_leg_feature_arr = leg_ohe.transform(new_poke_df[['Lgnd_Label']]).toarray()
new_leg_features = pd.DataFrame(new_leg_feature_arr, columns=leg_feature_labels)

new_poke_ohe = pd.concat([new_poke_df, new_gen_features, new_leg_features], axis=1)
columns = sum([['Name', 'Generation', 'Gen_Label'], gen_feature_labels, ['Legendary', 'Lgnd_Label'], leg_feature_labels], [])
new_poke_ohe[columns]

          Name Generation  ...  Legendary_False  Legendary_True
0     PikaZoom      Gen 3  ...              0.0             1.0
1  CharMyToast      Gen 4  ...              1.0             0.0

[2 rows x 13 columns]

In [35]:
gen_onehot_features = pd.get_dummies(poke_df['GenerationLabel'])
pd.concat([poke_df[['Name', 'Generation']], gen_onehot_features], axis=1).iloc[4:10]

                  Name  Generation  Gen 1  Gen 2  Gen 3  Gen 4  Gen 5  Gen 6
4            Octillery           2      0      1      0      0      0      0
5           Helioptile           6      0      0      0      0      0      1
6               Dialga           4      0      0      0      1      0      0
7  DeoxysDefense Forme           3      0      0      1      0      0      0
8             Rapidash           1      1      0      0      0      0      0
9               Swanna           5      0      0      0      0      1      0