<a href="https://colab.research.google.com/github/EAsencios/DEEP-LEARING/blob/master/fea_eng_interation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [4]:
poke_df = pd.read_csv('/content/sample_data/pokemon.csv')
poke_df

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 13 columns]

In [5]:
atk_def = poke_df[['Attack', 'Defense']]
atk_def.head()

   Attack  Defense
0      49       49
1      62       63
2      82       83
3     100      123
4      52       43

In [6]:
from sklearn.preprocessing import PolynomialFeatures
pf = PolynomialFeatures(degree=2, interaction_only=False, include_bias=False)
res = pf.fit_transform(atk_def)
res

array([[   49.,    49.,  2401.,  2401.,  2401.],
       [   62.,    63.,  3844.,  3906.,  3969.],
       [   82.,    83.,  6724.,  6806.,  6889.],
       ...,
       [  110.,    60., 12100.,  6600.,  3600.],
       [  160.,    60., 25600.,  9600.,  3600.],
       [  110.,   120., 12100., 13200., 14400.]])

In [7]:
pd.DataFrame(pf.powers_, columns=['Attack_degree', 'Defense_degree'])

   Attack_degree  Defense_degree
0              1               0
1              0               1
2              2               0
3              1               1
4              0               2

In [8]:
intr_features = pd.DataFrame(res, columns=['Attack', 'Defense', 'Attack2', 'Attack x Defense', 'Defense2'])
intr_features

     Attack  Defense  Attack2  Attack x Defense  Defense2
0      49.0     49.0   2401.0            2401.0    2401.0
1      62.0     63.0   3844.0            3906.0    3969.0
2      82.0     83.0   6724.0            6806.0    6889.0
3     100.0    123.0  10000.0           12300.0   15129.0
4      52.0     43.0   2704.0            2236.0    1849.0
..      ...      ...      ...               ...       ...
795   100.0    150.0  10000.0           15000.0   22500.0
796   160.0    110.0  25600.0           17600.0   12100.0
797   110.0     60.0  12100.0            6600.0    3600.0
798   160.0     60.0  25600.0            9600.0    3600.0
799   110.0    120.0  12100.0           13200.0   14400.0

[800 rows x 5 columns]

In [10]:
new_df = pd.DataFrame([[95, 75], [121, 120], [77, 60]], columns=['Attack', 'Defense'])
new_df

   Attack  Defense
0      95       75
1     121      120
2      77       60

In [12]:
new_res = pf.transform(new_df)
new_intr_feature = pd.DataFrame(new_res, columns=['Attack', 'Defense', 'Attack2', 'Attack x Defense', 'Defense2'])
new_intr_feature

   Attack  Defense  Attack2  Attack x Defense  Defense2
0    95.0     75.0   9025.0            7125.0    5625.0
1   121.0    120.0  14641.0           14520.0   14400.0
2    77.0     60.0   5929.0            4620.0    3600.0