<a href="https://colab.research.google.com/github/EAsencios/DEEP-LEARING/blob/master/fi_on_text_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
import numpy as np
import re
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [10]:
corpus = ['The sky is blue and beautiful.',
          'Love this blue and beautiful sky!',
          'The quick brown fox jumps over the lazy dog.',
          'The brown fox is quick and the blue dog is lazy!',
          'The sky es very blue and the sky is very beautiful today',
          'The dog is lazy but the brown fox is quick!'
]
labels = ['weather', 'weather', 'animal', 'animal', 'weather', 'animal']
corpus = np.array(corpus)
corpus_df = pd.DataFrame({'Document':corpus,
                          'Category':labels})
corpus_df = corpus_df[['Document', 'Category']]
corpus_df

                                            Document Category
0                     The sky is blue and beautiful.  weather
1                  Love this blue and beautiful sky!  weather
2       The quick brown fox jumps over the lazy dog.   animal
3   The brown fox is quick and the blue dog is lazy!   animal
4  The sky es very blue and the sky is very beaut...  weather
5        The dog is lazy but the brown fox is quick!   animal

In [11]:
wpt = nltk.WordPunctTokenizer()
stop_words = nltk.corpus.stopwords.words('english')

In [16]:
def normalize_document(doc):
  # lower case and remove special characters\whitespaces
  doc = re.sub(r'[^a-zA-Z0-9\s]', '', doc, re.I)
  doc = doc.lower()
  doc = doc.strip()
  return doc

In [17]:
normalize_corpus = np.vectorize(normalize_document)
norm_corpus = normalize_corpus(corpus)
norm_corpus

array(['the sky is blue and beautiful',
       'love this blue and beautiful sky',
       'the quick brown fox jumps over the lazy dog',
       'the brown fox is quick and the blue dog is lazy',
       'the sky es very blue and the sky is very beautiful today',
       'the dog is lazy but the brown fox is quick'], dtype='<U56')