<a href="https://colab.research.google.com/github/EAsencios/DEEP-LEARING/blob/master/pandas01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# Create and populate a 5x2 NumPy array.
my_data = np.array([[0, 3], [10, 7], [20, 9], [30, 14], [40, 15]])

# Create a Python list that holds the names of the two columns.
my_column_names = ['temperature', 'activity']

# Create a DataFrame.
my_dataframe = pd.DataFrame(data=my_data, columns=my_column_names)

# Print the entire DataFrame
print(my_dataframe)

   temperature  activity
0            0         3
1           10         7
2           20         9
3           30        14
4           40        15

In [ ]:
# Create a new column named adjusted.
my_dataframe["adjusted"] = my_dataframe["activity"] + 2

# Print the entire DataFrame
print(my_dataframe)

   temperature  activity  adjusted
0            0         3         5
1           10         7         9
2           20         9        11
3           30        14        16
4           40        15        17

In [ ]:
print("Row #0, #1 and #2:")
print(my_dataframe.head(3), '\n')

Row #0, #1 and #2:
   temperature  activity  adjusted
0            0         3         5
1           10         7         9
2           20         9        11

In [ ]:
print("Row #2:")
print(my_dataframe.iloc[[2]], '\n')

Row #2:
   temperature  activity  adjusted
2           20         9        11

In [ ]:
print("Row #1, #2 and #3:")
print(my_dataframe[1:4], '\n')

Row #1, #2 and #3:
   temperature  activity  adjusted
1           10         7         9
2           20         9        11
3           30        14        16

In [ ]:
print("Columm 'temperature':")
print(my_dataframe['temperature'], '\n')

Columm 'temperature':
0     0
1    10
2    20
3    30
4    40
Name: temperature, dtype: int64

In [ ]:
data = np.random.randint(low=0, high=101, size=(3,4))
columm_names = ['Eleanor', 'Chidi', 'Tahani', 'Jason']
df = pd.DataFrame(data=data, columns=columm_names)
print(df)

   Eleanor  Chidi  Tahani  Jason
0       36     57     100      9
1       60     56      18     57
2       70     89      31     99

In [ ]:
print(df['Eleanor'].iloc[[1]])

1    60
Name: Eleanor, dtype: int64

In [ ]:
df['Janet'] = df['Tahani'] + df['Jason']
print(df)

   Eleanor  Chidi  Tahani  Jason  Janet
0       36     57     100      9    109
1       60     56      18     57     75
2       70     89      31     99    130